<i class="bi bi-arrow-left-circle-fill" routerLink="/lojas/{{loja?.razao_social ?? ''}}"></i>
<div class="cont" style= "height: 50%;">
    <h2 style="margin-bottom: 30px;">Estoque</h2>
    <ul style="width:100%" class="list-group list-group-horizontal">
        <li style="width: 50%; border-radius: 0; border-top-left-radius: 8px; "class="list-group-item">Nome</li>
        <li style="width: 25%; border-radius: 0;" class="list-group-item">Valor</li>
        <li style="width: 25%; border-radius: 0;  border-top-right-radius: 8px;" class="list-group-item">Quantidade</li>
    </ul>

    <div *ngFor="let item of itens">
        <app-item-list-item  [item]="item"></app-item-list-item>
    </div>
    <button class="add" routerLink="/lojas/{{loja?.razao_social ?? ''}}/estoque/adicionar">+</button>
</div>



