<div *ngIf="!escolhendoItem && !escolhendoFornecedor">
<form [formGroup]="formItemFornecedor" (ngSubmit)="addItemForn()">
    <div id="formulario-cadastro" class="container">
        <h2 *ngIf="itemFornecedor==null">Cadastre um item de fornecedor </h2>
        <h2 *ngIf="itemFornecedor!=null">Editar um item de fornecedor </h2>
        <div *ngIf="itemFornecedor==null" class="form-group" style="margin-left: 20%; margin-right: 20%;">
            <small *ngIf="!fornecedorEscolhido" (click)="escolhendoFornecedor=true">Selecione o fornecedor</small>
            <small *ngIf="fornecedorEscolhido" (click)="escolhendoFornecedor=true">Fornecedor selecionado: {{fornecedor?.razao_social}}. Clique para alterar</small>
        </div>
        
        <div *ngIf="itemFornecedor!=null" class="form-group" style="margin-left: 20%; margin-right: 20%;">
            <small (click)="escolhendoFornecedor=true">Fornecedor selecionado: {{itemFornecedor?.nome_fornecedor}}. Clique para alterar</small>
        </div>

        <div *ngIf="itemFornecedor==null" class="form-group" style="margin-left: 20%; margin-right: 20%;">
            <small *ngIf="!itemEscolhido" (click)="escolhendoItem=true">Selecione o item</small>
            <small *ngIf="itemEscolhido" (click)="escolhendoItem=true">Item selecionado: {{item?.nome}}. Clique para alterar</small>
        </div>
        <div *ngIf="itemFornecedor!=null" class="form-group" style="margin-left: 20%; margin-right: 20%;">
            <small *ngIf="itemEscolhido" (click)="escolhendoItem=true">Item selecionado: {{itemFornecedor?.nome_item}}. Clique para alterar</small>
        </div>
        <div class="form-group" style="margin-left: 20%; margin-right: 20%;">
        <label for="valorCompra">Valor de Compra</label>
        <input formControlName="valorCompra" type="number" class="form-control" id="valorCompra" placeholder="Informe o valor do item" required >
        </div>
        
        <button type="submit" class="btn btn-primary" style="margin-top: 3%; margin-bottom: 2%; ">Enviar</button>
    </div>
</form>
</div>
<div *ngIf="escolhendoItem && !escolhendoFornecedor">
    <i class="bi bi-arrow-left-circle-fill" routerLink="/lojas/{{loja?.razao_social ?? ''}}"></i>
<div class="cont" style= "height: 50%;">
    <h2 style="margin-bottom: 30px;">Estoque</h2>
    <ul style="width:100%" class="list-group list-group-horizontal">
        <li style="width: 43%; border-radius: 0; border-top-left-radius: 8px; "class="list-group-item">Nome</li>
        <li style="width: 25%; border-radius: 0; " class="list-group-item">Quantidade em estoque</li>
        <li style="width: 25%; border-radius: 0; border-top-right-radius: 8px;" class="list-group-item">Valor</li>
    </ul>
    <div *ngFor="let item of itens">
        <app-item-list-item [escolhendo]="true" [item]="item" (selecionado)="setItem($event); escolhendoItem=false;"></app-item-list-item>
    </div>
</div>
</div>
<div *ngIf="!escolhendoItem && escolhendoFornecedor">
    <i class="bi bi-arrow-left-circle-fill" routerLink="/lojas/{{loja?.razao_social ?? ''}}"></i>
<div class="cont" style= "height: 50%;">
    <h2 style="margin-bottom: 30px;">Fornecedores</h2>
    <ul style="width:100%" class="list-group list-group-horizontal">
        <li style="width: 40%; border-radius: 0; border-top-left-radius: 8px; "class="list-group-item">Razão social</li>
        <li style="width: 28%; border-radius: 0; " class="list-group-item">CNPJ</li>
        <li style="width: 25%; border-radius: 0; border-top-right-radius: 8px;" class="list-group-item">Contato</li>
    </ul>
    <div *ngFor="let fornecedor of fornecedores">
        <app-fornecedor-list-item [escolhendo]="true" [fornecedor]="fornecedor" (selecionado)="setFornecedor($event); escolhendoFornecedor=false;"></app-fornecedor-list-item>
    </div>
</div>
</div>