<ul  style="width:100%" class="list-group list-group-horizontal">
    <li style="width: 30%; border-radius: 0;"class="list-group-item">{{pedidoCompraItem?.nomeItem! ?? ''}}</li>
    <li style="width: 20%; border-radius: 0;" class="list-group-item">R${{pedidoCompraItem?.valor_unitario ?? 0}}</li>
    <li style="width: 20%; border-radius: 0;" class="list-group-item">{{pedidoCompraItem?.qtde ?? 0}}</li>
    <li style="width: 30%; border-radius: 0;" class="list-group-item">{{pedidoCompraItem?.nomeFornecedor}}</li>
</ul>

