#home {
	background: #010c6d;
	color: white;
    padding-bottom: 20px;
}

body, #tela-login {
    height: 100%;
    background-color: #f5f5f5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
    color: black;
  }

.navbar{
    background: #010c6d;
	color: white;
}

.navbar .navbar-toggler {
    color:white;
}

#link{
    color:white;
}

#link:hover {
    color: #7b87f1;   
}

#btn-entrar{
    color: white;
    background-color: #7b87f1;
    margin-left: 20px;
}

#btn-comece-agora{
    background-color: #7b87f1; color: white; font-size: 1.3em;
}

#btn-comece-agora:hover {
    color: darkblue;
}

.caixa {
	padding: 40px 0;
	border-bottom: 1px solid #e5e5e5;
}

footer p a {
	margin:  5px 15px;
}

