<main class="form-signin m-auto" style="padding-top:9%;">
  <form style="padding: 50px; padding-top: 10px;">
    <h1 class="h3 mb-3 fw-normal">Login</h1>
    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Nome de usuário</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Senha</label>
    </div>
    <button class="w-100 btn btn-lg" id="enviar" type="submit">Entrar</button>
  </form>
</main>