<ul *ngIf="!escolhendo" style="width:100%" class="list-group list-group-horizontal">
    <li style="width: 40%; border-radius: 0;"class="list-group-item">{{pessoa?.nome ?? ''}} {{pessoa?.sobrenome ?? ''}}</li>
    <li style="width: 25%; border-radius: 0;" class="list-group-item">{{pessoa?.telefone ?? ''}}</li>
    <li style="width: 25%; border-radius: 0;" class="list-group-item">{{pessoa?.cpf ?? ''}}</li>
    <li style="width: 10%; border-radius: 0;"><small style="cursor: pointer;" (click)="deletePessoa()">🗑️</small></li>
</ul>

<ul *ngIf="escolhendo" style="width:100%" class="list-group list-group-horizontal">
    <li style="width: 40%; border-radius: 0;"class="list-group-item">{{pessoa?.nome ?? ''}} {{pessoa?.sobrenome ?? ''}}</li>
    <li style="width: 25%; border-radius: 0;" class="list-group-item">{{pessoa?.telefone ?? ''}}</li>
    <li style="width: 25%; border-radius: 0;" class="list-group-item">{{pessoa?.cpf ?? ''}}</li>
    <li style="width: 10%; border-radius: 0;"><small (click)="selectPessoa()">+</small></li>
</ul>


