<ul *ngIf="escolhendo" style="width:100%" class="list-group list-group-horizontal">
    <li style="width: 48%; border-radius: 0;"class="list-group-item">{{funcionario.nome}}</li>
    <li style="width: 45%; border-radius: 0;" class="list-group-item">{{funcionario.telefone}}</li>
    <li style="width: 7%; padding-top: 1.2%;"><small (click)="selectFunc()"><i class="bi bi-plus-square"></i>    </small></li>
</ul>
<ul *ngIf="!escolhendo" style="width:100%" class="list-group list-group-horizontal">
    <li style="width: 50%; border-radius: 0;"class="list-group-item">{{funcionario.nome}}</li>
    <li style="width: 36%; border-radius: 0;" class="list-group-item">{{funcionario.telefone}}</li>
    <li style="width: 7%; padding-top: 1.2%;"><small style="cursor: pointer;" (click)="editFunc()"><i class="bi bi-pencil"></i></small></li>
    <li style="width: 7%; border-radius: 0; padding-top: 1.2%; list-style: none;" ><small style="cursor: pointer;" (click)="deleteFunc()"><i class="bi bi-trash3"></i></small></li>
</ul>


 