<div class="cont" style="margin-top:30px; height: 50%;">
    <h2 style="margin: 30px;">Itens da Venda</h2>
    <ul style="width:100%" class="list-group list-group-horizontal">
        <li style="width: 40%; border-radius: 0; border-top-left-radius: 8px; "class="list-group-item">Nome</li>
        <li style="width: 20%; border-radius: 0;" class="list-group-item">Valor</li>
        <li style="width: 20%; border-radius: 0;" class="list-group-item">Quantidade</li>
        <li style="width: 20%; border-radius: 0;  border-top-right-radius: 8px;" class="list-group-item">Estoque</li>
    </ul>

    <div *ngFor="let itemVenda of itensVenda">
        <app-item-venda-list-item [itemVenda]="itemVenda" ></app-item-venda-list-item>
    </div>
    <button class="add" style="border-radius: 0; margin-bottom: 0;"routerLink="/lojas/{{loja?.razao_social ?? ''}}/vendas/{{venda?.id ?? 0}}/itensVenda/adicionar">+</button>
    <button class="add" (click)="ativFinalizar()">Finalizar venda</button>
</div>

