
<div class="row row-cols-6" [ngStyle]="{'display': loja==null ? 'flex' : 'none'}">
    <div class="d-flex flex-direction-column col-2 col-sm-2 loja-item" *ngFor="let loja of lojas">
        <button (click)="setLoja(loja)" style="border: none; margin:0;">
            <app-lojas-list-item  [loja]="loja" style="display:block; margin-top: 10px;"></app-lojas-list-item>
        </button>
    </div>
   
    
    <a routerLink="/adicionarLoja" style="text-decoration:none;" class="d-flex flex-direction-column col-2 col-sm-2 loja-item">
        <h1>
            <i class="bi bi-plus-square-fill" style="color: #7b87f1;"></i>
        </h1>
    </a>
    
</div>

<!--ÁREA DO ESTOQUE-->
<div [ngStyle]="{'display': loja!=null && itens==false && funcionarios==false ? 'block' : 'none'}">
    <app-item-loja (funcionarios)="setFuncionarios($event)" (itens)="setItens($event)" (lojaNull)="setLoja($event)" [loja]="loja"></app-item-loja>
</div>
<div [ngStyle]="{'display': loja!=null && itens==true && addItem==false ? 'block' : 'none'}" >
    <app-item-screen (voltarItem)="setItens($event)" (adicionandoItem)="adicionando($event)" [loja]="loja" [adic]="addItem"></app-item-screen>
</div>
<div [ngStyle]="{'display': loja!=null && itens==true && addItem==true ? 'block' : 'none'}">
    <app-add-item (adicionandoItem)="adicionando($event)" [loja]="loja"></app-add-item>
</div>

<!--ÁREA DOS FUNCIONÁRIOS-->
<div [ngStyle]="{'display':loja!=null && itens==false && funcionarios==true ? 'block' : 'none'}">
    <app-funcionario-screen [loja]="loja"></app-funcionario-screen>
</div>

