<ul *ngIf="!escolhendo" style="width:100%" class="list-group list-group-horizontal">
    <li style="width: 50%; border-radius: 0;"class="list-group-item">{{item.nome}}</li>
    <li style="width: 25%; border-radius: 0;" [ngStyle]="item.qtdeEstoque <= item.qtdeAlertaEstoque ? {'color': 'red'} : {}" class="list-group-item">{{item.qtdeEstoque}}</li>
    <li style="width: 25%; border-radius: 0;" class="list-group-item">R${{item.valor}}</li>
</ul>
<ul *ngIf="escolhendo" style="width:100%" class="list-group list-group-horizontal">
    <li style="width: 50%; border-radius: 0;"class="list-group-item">{{item.nome}}</li>
    <li style="width: 20%; border-radius: 0;" [ngStyle]="item.qtdeEstoque <= item.qtdeAlertaEstoque ? {'color': 'red'} : {}" class="list-group-item">{{item.qtdeEstoque}}</li>
    <li style="width: 20%; border-radius: 0;" class="list-group-item">R${{item.valor}}</li>
    <li style="width: 10%; border-radius: 0;"><small (click)="selectItem()">+</small></li>
</ul>




