<ul *ngIf="!escolhendo" style="width:100%" class="list-group list-group-horizontal">
    <li style="width: 37%; border-radius: 0;"class="list-group-item">{{item.nome}}</li>
    <li style="width: 22%; border-radius: 0;" [ngStyle]="item.qtdeEstoque <= item.qtdeAlertaEstoque ? {'color': 'red'} : {}" class="list-group-item">{{item.qtdeEstoque}}</li>
    <li style="width: 27%; border-radius: 0;" class="list-group-item">R${{item.valor}}</li>
    <li style="width: 7%; padding-top: 1.2%;" ><small style="cursor: pointer;" (click)="editItem()"><i class="bi bi-pencil"></i></small></li>
    <li style="width: 7%; padding-top: 1.2%;list-style: none;"><small style="cursor: pointer;" (click)="deleteItem()"><i class="bi bi-trash3"></i></small></li>
</ul>
<ul *ngIf="escolhendo" style="width:100%" class="list-group list-group-horizontal">
    <li style="width: 43%; border-radius: 0;"class="list-group-item">{{item.nome}}</li>
    <li style="width: 25%; border-radius: 0;" [ngStyle]="item.qtdeEstoque <= item.qtdeAlertaEstoque ? {'color': 'red'} : {}" class="list-group-item">{{item.qtdeEstoque}}</li>
    <li style="width: 25%; border-radius: 0;" class="list-group-item">R${{item.valor}}</li>
    <li style="width: 7%; padding-top: 1.2%;"><small (click)="selectItem()"><i class="bi bi-plus-square"></i>    </small></li>
    
</ul>




